.home-main-bg {
  min-height: 100vh;
  background-color: #181818;
}
.trending-slick {
  min-height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
@media (min-width: 767px) {
  .trending-slick {
    min-height: 190px;
  }
}
.loader-container-bg {
  min-height: 20vh;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-item-bg {
  min-height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
@media (min-width: 767px) {
  .movie-item-bg {
    min-height: 70vh;
  }
}
.trending-now-head {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  color: #ffffff;
  padding-left: 20px;
  margin-bottom: 0px;
}
@media (min-width: 767px) {
  .trending-now-head {
    padding-left: 80px;
    font-size: 26px;
  }
}
.failure-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.failure-icon {
  height: 30px;
}
.failure-btn-try {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  color: #171f46;
}
.failure-para {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;

  color: #ffffff;
}
@media (min-width: 767px) {
  .failure-para {
    font-size: 14px;
  }
  .failure-icon {
    height: 20px;
  }
  .failure-btn-try {
    font-size: 14px;
  }
}

.content {
  margin-top: auto;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #131313 92.82%,
    #131313 98.68%,
    #131313 108.61%
  );
}
@media (min-width: 767px) {
  .content {
    padding-left: 60px;
  }
}
.content-head {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  width: 80%;
  line-height: 1.3;
  color: #ffffff;
}
.content-para {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  width: 80%;

  color: #ffffff;
}

@media (min-width: 767px) {
  .content-para {
    width: 50%;
    font-size: 16px;
  }
  .content-head {
    width: 50%;
    font-size: 36px;
  }
}
.play-btn {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: #171f46;
  padding: 8px 15px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
